.cardContainer {
  border: solid 2px orangered;
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 40px auto;
}
.message {
  font-size: 1.4em;
}

.nameLine {
  margin-top: 10px;
  font-size: 0.8em;
}

.name {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 1.4em;
  margin-left: 5px;
}

.passionMessage {
  font-size: 0.8em;
  margin: 15px auto;
}
